sbin/vconfig
sbin/swapoff
sbin/start-stop-daemon
sbin/setconsole
sbin/losetup
sbin/devmem
sbin/arping
sbin/syslogd
sbin/mkswap
sbin/reboot
sbin/addgroup
sbin/sysctl
sbin/halt
sbin/switch_root
sbin/ntpd
sbin/rmmod
sbin/iprule
sbin/swapon
sbin/lsmod
sbin/route
sbin/deluser
sbin/klogd
sbin/blkid
sbin/ipaddr
sbin/telnetd
sbin/brctl
sbin/ip
sbin/udhcpc
sbin/poweroff
sbin/iptunnel
sbin/insmod
sbin/chroot
sbin/crond
sbin/getty
sbin/iproute
sbin/delgroup
sbin/iplink
sbin/ifconfig
sbin/adduser
sbin/ipneigh
sbin/pivot_root
sbin/blockdev
bin/login
bin/dirname
bin/gunzip
bin/od
bin/renice
bin/tail
bin/ash
bin/printf
bin/dos2unix
bin/touch
bin/lock
bin/ar
bin/false
bin/ls
bin/ln
bin/stat
bin/egrep
bin/xz
bin/kill
bin/crontab
bin/chown
bin/fsync
bin/[[
bin/pwd
bin/basename
bin/tar
bin/unix2dos
bin/mknod
bin/su
bin/df
bin/time
bin/echo
bin/reset
bin/vi
bin/wc
bin/unlink
bin/true
bin/sha512sum
bin/sha256sum
bin/sync
bin/dd
bin/tee
bin/seq
bin/bzcat
bin/uptime
bin/sed
bin/bunzip2
bin/nc
bin/usleep
bin/hostid
bin/cmp
bin/grep
bin/sh
bin/cat
bin/ipcalc
bin/[
bin/sort
bin/rmdir
bin/nslookup
bin/ping
bin/passwd
bin/stty
bin/logger
bin/tr
bin/chmod
bin/cut
bin/md5sum
bin/clear
bin/pgrep
bin/free
bin/ps
bin/fgrep
bin/unzip
bin/sha1sum
bin/gzip
bin/xargs
bin/rm
bin/hostname
bin/dmesg
bin/sleep
bin/traceroute
bin/killall
bin/umount
bin/telnet
bin/pidof
bin/mktemp
bin/mv
bin/find
bin/rev
bin/netstat
bin/head
bin/iostat
bin/hexdump
bin/which
bin/uname
bin/patch
bin/strings
bin/uniq
bin/readlink
bin/netmsg
bin/base64
bin/cp
bin/wget
bin/setserial
bin/chgrp
bin/test
bin/mkdir
bin/mkfifo
bin/date
bin/du
bin/zcat
bin/lsusb
bin/id
bin/nice
bin/env
bin/yes
bin/unxz
bin/less
bin/more
bin/unlzma
bin/tty
bin/ping6
bin/xzcat
bin/expr
bin/top
bin/diff
bin/mount
bin/awk
bin/cryptpw
bin/run-parts
